[Desktop Entry]
Type=Application
Name=ccvv
GenericName=Clipboard Sanitizer
Comment=Run the ccvv Linux clipboard sanitizer daemon
Exec=ccvv-linux
Terminal=false
Categories=Utility;
StartupNotify=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Applications
